&__slova2{
    width: 492px;
}

&__slova2 > h1{
    font-weight:bold;
    font-size: 52px;
    margin-left: 40px;
}

&__slova2 > p{
    font-size: 22px;
    max-width: 240px;
    margin-left: 40px;
}

.banners__btn2{
    @extend %banners_btn
}
