&__photo{
    width: 984px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


@import "__oko1/__oko1";
@import "__oko2/__oko2";
@import "__oko3/__oko3";
@import "__oko4/__oko4";
@import "__oko5/__oko5";
@import "__oko6/__oko6";