.pre_footer__lft{
    display: flex;
    background-image: url(img/lpng1.svg);
    width: 482px;
    height: 600px;
}
.pre_footer__lft > p{
    font-size: 30px;
    color: white;
    font-weight: 400;
    max-width: 250px;
    margin: 450px 0 0 40px;
}