.pre_footer__right{
    display: flex;
    background-image: url(img/lpng2.svg);
    width: 482px;
    height: 600px;
}
.pre_footer__right > p{
    font-size: 30px;
    color: white;
    font-weight: 400;
    max-width: 200px;
    margin: 450px 0 0 40px;
}